.des{
    background-color: rgb(246, 246, 246);
}
.bt{
    background-color: rgb(45, 26, 4);
    border-radius: 9px;
    color: white;
    border: 0;
}
.bar{
   
       background-color: rgb(143, 105, 0),
       
     
}